# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/

# Environment
.env
.env.local
.env.*.local

# Turbo
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

.history

# IDE
.vscode/
.idea/

# Electron
release/

# Local desktop DB files
apps/desktop/biztrack-dev.db
apps/desktop/biztrack-dev.db-shm
apps/desktop/biztrack-dev.db-wal

# Prisma
prisma/migrations/dev/
